.project {
  padding-top: 45px;
  padding-bottom: 55px;
}
.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 400;
}

.project-title {
  font-size: 32px;
  line-height: 38.4px;
  line-height: var(--section-title-line-height);
  font-weight: bold;
  color: var(--steel-blue-color);
}

.project-desc {
  font-size: 18px;
  line-height: 30px;
  max-width: 880px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 55px;
  color: var(--deep-blue-color);
}

.project-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 55px;
}

.project-btn {
  background-color: var(--goldenrod-color);
  color: var(--white-text-color);
  font-size: 32px;
  line-height: 38.4px;
  padding: 15.82px 19.5px;
  border-radius: 12px;
}

.project-btn:hover {
  background-color: var(--goldenrod-color);
  color: var(--white-text-color);
  opacity: 0.6;
}

.project-img img {
  width: 100%;
}

.project-title br {
  display: none;
}

/* PC Always  */
@media only screen and (max-width: 1920px) {
}

/* PC BIG  */
@media only screen and (min-width: 1650px) {
}

/* PC BIG Lower */
@media only screen and (max-width: 1650px) {
}

/* PC BIG 16 */
@media only screen and (max-width: 1600px) {
}

/* PC fit */
@media only screen and (max-width: 1440px) {
}

/* PC fit-sub */
@media only screen and (max-width: 1399px) {
}

/* PC fit lower */
@media only screen and (max-width: 1366px) {
}

/* PC fit lower */
@media only screen and (min-width: 1366px) {
}

/* PC fit small */
@media only screen and (max-width: 1300px) {
  .project {
    padding-top: 35px;
    padding-bottom: 45px;
  }

  .project-title {
    font-size: 28px;
    line-height: 34.4px;
  }

  .project-desc {
    font-size: 16px;
    line-height: 26px;
    max-width: 750px;
    margin-top: 25px;
    margin-bottom: 45px;
  }

  .project-bottom {
    padding-top: 45px;
  }

  .project-btn {
    font-size: 28px;
    line-height: 34px;
    padding: 13px 22px;
  }
}
/* PC HD */
@media only screen and (max-width: 1283px) {
}

/* PC Change */
@media only screen and (min-width: 1023px) and (max-width: 1241px) {
}

/* PC LOWER min-1023px */
@media only screen and (min-width: 1023px) and (max-width: 1240px) {
}

/* Only PC devices */
@media only screen and (min-width: 1023px) {
}

/* Mobile & tablet */
@media only screen and (max-width: 1023px) {
  .project .container {
    padding: 0;
    margin: 0;
    max-width: none;
  }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .project {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .project-title {
    font-size: 24px;
    line-height: 30px;
  }

  .project-desc {
    font-size: 14px;
    line-height: 24px;
    max-width: 600px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .project-bottom {
    padding-top: 40px;
  }

  .project-btn {
    font-size: 24px;
    line-height: 29px;
    padding: 10px 14px;
  }
}

/* Min Mobile */
@media only screen and (min-width: 740px) {
}

/* Mobile */
@media only screen and (max-width: 739px) {
  .project {
    padding-top: 13px;
    padding-bottom: 26px;
  }
  .project-title br {
    display: block;
  }
  .project-bottom {
    padding-top: 26px;
  }
  .project-desc {
    margin-top: 20px;
    margin-bottom: 8px;
  }
  .project-btn {
    font-size: 18px;
    line-height: 21.6px;
    text-align: left;
    padding: 8.3px 15px;
    border-radius: 8px;
  }
  .project-title {
    font-size: 22px;
    line-height: 26.4px;
  }
  .project-desc {
    font-size: 14px;
    line-height: 20px;
  }
  .about-detail .card-title {
    margin-bottom: 10px;
  }
}

/* Phone Small */
@media only screen and (max-width: 395px) {
}
