.register {
  padding-top: 219px;
  position: relative;
}

.register-wrapper {
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.register-map img {
  width: 100%;
}
.register-account .card-body {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  display: grid;
  grid-row-gap: 22px;
  padding: 16px 25px;
}
.card-footer__button {
  display: flex;
  justify-content: end;
}
.register-title {
  font-size: 32px;
  line-height: 38.4px;
  text-align: center;
  color: var(--steel-blue-color);
  font-weight: bold;
}
.register-desc {
  color: var(--slate-gray-color);
  font-size: 18px;
  line-height: 30px;
  line-height: 30px;
  text-align: center;
}
.register-map {
  margin-top: 60px;
  padding-left: 15%;
}

.register-input.input-group {
  height: 56px;
  border-radius: 8px;
  position: relative;
}
.card-header__title {
  color: var(--deep-blue-color);
  font-size: 24px;
  font-weight: bold;
  line-height: 28.8px;
  text-align: left;
}
.card-header__sub {
  color: var(--slate-gray-color);
  font-size: 16px;
  line-height: 19.2px;
  text-align: left;
  margin-top: 10px;
}
.register-card .card-footer__title {
  color: var(--deep-blue-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  margin-bottom: 20px;
}
.register-account .card-header {
  border: none;
  background-color: transparent;
  padding: 8px 31px;
  padding-top: 20px;
}

.register-account .card-footer {
  border: none;
  background-color: transparent;
  padding: 12px 25px;
}

.register-card {
  background: #dfe9f4;
}

.register-account {
  padding-left: 5%;
  padding-right: 14.5%;
}

.card-footer__button .btn {
  border-radius: 28px;
  color: var(--white-text-color);
  font-size: 24px;
  line-height: 28.8px;
  padding: 12.62px 37.12px;
}

.card-footer__input {
  border-radius: 8px;
}

.card-footer__button {
  margin-top: 50px;
  margin-bottom: 50px;
}
.register-input .form-control {
  color: var(--slate-gray-color);
  font-size: 18px;
  line-height: 21.6px;
  text-align: left;
  background: #fffefe;
  padding-left: 28px;
}

.register-name {
  grid-row: 1;
  grid-column: 1 / span 2;
}
.register-phone {
  grid-row: 2;
  grid-column: 1 / span 2;
}

.register-email {
  grid-row: 3;
  grid-column: 1 / span 2;
}
.register-company {
  grid-row: 4;
  grid-column: 1 / span 2;
}
.register-document {
  grid-row: 5;
  grid-column: 1 / span 2;
}

button.form-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button.form-control input[type="file"] {
  position: absolute;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: pointer;
}

.register__decoration-bottom {
  position: absolute;
  top: 45px;
  right: 0;
  width: 45%;
}

.register__decoration-bottom img {
  width: 100%;
}

/* PC Alway  */
@media only screen and (max-width: 1920px) {
}

/* PC BIG  */
@media only screen and (min-width: 1650px) {
}

/* PC BIG Lower */
@media only screen and (max-width: 1650px) {
}

/* PC BIG 16 */
@media only screen and (max-width: 1600px) {
}

/* PC fit */
@media only screen and (max-width: 1440px) {
}

/* PC fit-sub */
@media only screen and (max-width: 1399px) {
}

/* PC fit lower */
@media only screen and (max-width: 1366px) {
}

/* PC fit lower */
@media only screen and (min-width: 1366px) {
}

/* PC fit small */
@media only screen and (max-width: 1300px) {
  .register {
    padding-top: 150px;
  }

  .register-wrapper {
    gap: 12px;
  }

  .register-account .card-body {
    grid-row-gap: 18px;
    padding: 12px 20px;
  }

  .register-title {
    font-size: 28px;
    line-height: 34px;
  }

  .register-desc {
    font-size: 16px;
    line-height: 26px;
  }

  .register-map {
    margin-top: 45px;
  }

  .register-input.input-group {
    height: 50px;
  }

  .card-header__title {
    font-size: 22px;
    line-height: 26px;
  }

  .card-header__sub {
    font-size: 14px;
    line-height: 17px;
    margin-top: 8px;
  }

  .register-card .card-footer__title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 18px;
  }

  .register-account .card-header {
    padding: 8px 20px;
    padding-top: 16px;
  }

  .register-account .card-footer {
    padding: 10px 20px;
  }

  .card-footer__button .btn {
    font-size: 20px;
    line-height: 24px;
    padding: 10px 32px;
  }

  .card-footer__button {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .register-input .form-control {
    font-size: 16px;
    line-height: 19px;
    padding-left: 24px;
  }
}

/* PC HD */
@media only screen and (max-width: 1283px) {
}

/* PC Change */
@media only screen and (min-width: 1023px) and (max-width: 1241px) {
}

/* PC LOWER  min-1023px */
@media only screen and (min-width: 1023px) and (max-width: 1240px) {
}

/* Only PC devices */
@media only screen and (min-width: 1023px) {
}

/* Mobile & tablet */
@media only screen and (max-width: 1023px) {
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .register {
    padding-top: 120px;
  }

  .register-wrapper {
    gap: 10px;
  }

  .register-account .card-body {
    grid-row-gap: 16px;
    padding: 10px 18px;
  }

  .register-title {
    font-size: 26px;
    line-height: 32px;
  }

  .register-desc {
    font-size: 15px;
    line-height: 24px;
  }

  .register-map {
    margin-top: 40px;
  }

  .register-input.input-group {
    height: 48px;
  }

  .card-header__title {
    font-size: 20px;
    line-height: 24px;
  }

  .card-header__sub {
    font-size: 14px;
    line-height: 16.8px;
    margin-top: 8px;
  }

  .register-card .card-footer__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .register-account .card-header {
    padding: 8px 18px;
    padding-top: 14px;
  }

  .register-account .card-footer {
    padding: 10px 18px;
  }

  .card-footer__button .btn {
    font-size: 18px;
    line-height: 22px;
    padding: 8px 28px;
  }

  .card-footer__button {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .register-input .form-control {
    font-size: 15px;
    line-height: 18px;
    padding-left: 22px;
  }
}

/* Min Mobile */
@media only screen and (min-width: 740px) {
}

/* Mobile */
@media only screen and (max-width: 739px) {
  .register {
    padding-top: 50px;
  }
  .register-map {
    padding-left: 10px;
  }
  .register-account {
    padding-left: 10px;
    padding-right: 10px;
  }
  .register-wrapper {
    gap: 36px;
  }
  .register-phone {
    grid-row: 2;
    grid-column: 1;
  }

  .register-email {
    grid-row: 2;
    grid-column: 2;
  }
  .register-company {
    grid-row: 3;
    grid-column: 1 / span 2;
  }
  .register-document {
    grid-row: 4;
    grid-column: 1 / span 2;
  }
  .register-account .card-body {
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
  }
  .card-footer__button {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .register-map {
    margin-top: 14px;
  }
  .register-account {
    padding-right: 0%;
  }

  .register-title {
    font-size: 22px;
    line-height: 26.4px;
  }
  .register-desc {
    font-size: 14px;
    line-height: 20px;
    padding-top: 18px;
    padding-bottom: 20px;
  }
  .card-footer__button .btn {
    font-size: 16px;
    line-height: 19.2px;
    padding: 6.5px 22.1px;
  }
  .register__decoration-bottom {
    display: none;
  }
}

/* Phone Small */
@media only screen and (max-width: 395px) {
  .register-account .card-body {
    gap: 14px; /* 0.85rem = 14px */
  }
}
