section.talk {
  background: url(../../images/talk/talk-background.png);
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 65px; /* 6rem */
  padding-bottom: 112px; /* 7rem */
}

.talk-wrapper {
  position: relative;
  max-width: 880px;
  padding-left: 10%;
}
.talk-header {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  text-align: center; */
  font-weight: 400;
  color: var(--white-text-color);
  margin-bottom: 30px; /* 1.875rem */
}

.talk-content {
}
.talk-title {
  font-size: 42px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-cerulean-color);
  text-transform: uppercase;
  font-weight: bold;
  width: fit-content;
  padding-left: 15%;
}

.talk-paragraph {
  color: var(--white-text-color);
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  padding-top: 27px;
  position: relative;
  padding-left: 18px;
}

.talk-paragraph::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../images/talk/talk-quotation.png);
  width: 60px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

.talk-next.swiper-button-next {
  color: white !important;
  opacity: 0.4;
  top: 80%;
  right: -75px;
  z-index: 1;
}

.talk-next.swiper-button-next::after {
  font-size: max(20px, min(2vw, 44px));
}
.talk-prev.swiper-button-prev {
  color: white !important;
  opacity: 0.4;
  top: 80%;
  left: 75px;
  z-index: 1;
}
.talk-prev.swiper-button-prev::after {
  font-size: max(20px, min(2vw, 44px));
}
.talk-pagination {
  display: none;
}

.talk-quotation {
  position: absolute;
  top: 0;
  left: 15%;
}

/* PC Alway  */
@media only screen and (max-width: 1920px) {
}

/* PC BIG  */
@media only screen and (min-width: 1650px) {
}

/* PC BIG Lower */
@media only screen and (max-width: 1650px) {
}

/* PC BIG 16 */
@media only screen and (max-width: 1600px) {
}

/* PC fit */
@media only screen and (max-width: 1440px) {
}

/* PC fit-sub */
@media only screen and (max-width: 1399px) {
}

/* PC fit lower */
@media only screen and (max-width: 1366px) {
}

/* PC fit lower */
@media only screen and (min-width: 1366px) {
}

/* PC fit small */
@media only screen and (max-width: 1300px) {
  section.talk {
    padding-top: 45px;
    padding-bottom: 80px;
  }

  .talk-header {
    margin-bottom: 20px;
  }

  .talk-title {
    font-size: 36px;
    line-height: 50px;
  }

  .talk-paragraph {
    font-size: 20px;
    line-height: 30px;
    padding-top: 20px;
  }
}

/* PC HD */
@media only screen and (max-width: 1283px) {
}

/* PC Change */
@media only screen and (min-width: 1023px) and (max-width: 1241px) {
}

/* PC LOWER  min-1023px */
@media only screen and (min-width: 1023px) and (max-width: 1240px) {
}

/* Only PC devices */
@media only screen and (min-width: 1023px) {
}

/* Mobile & tablet */
@media only screen and (max-width: 1023px) {
  .talk-wrapper {
    padding-left: 0;
    width: 90%;
    margin: 0 auto;
  }
  .talk-quotation {
    display: none;
  }
  .talk {
    background-position: right;
    padding-top: 48px;
    padding-bottom: 80px;
  }
  .talk-paragraph::before {
    display: none;
  }
  .talk-next.swiper-button-next {
    top: 76%;
    right: -20px;
  }
  .talk-prev.swiper-button-prev {
    top: 76%;
    left: -20px;
  }
  .talk-title {
    font-size: 24px;
    line-height: 32px;
  }
  .talk-paragraph {
    font-size: 12px;
    line-height: 18px;
  }
  .talk-paragraph {
    padding-left: 0px;
  }
  .talk-title {
    width: auto;
    padding-left: inherit;
    align-items: center;
  }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  section.talk {
    padding-top: 35px;
    padding-bottom: 60px;
  }

  .talk-header {
    margin-bottom: 15px;
  }

  .talk-title {
    font-size: 28px;
    line-height: 40px;
  }

  .talk-paragraph {
    font-size: 18px;
    line-height: 27px;
    padding-top: 15px;
  }
}

/* Min Mobile */
@media only screen and (min-width: 740px) {
}

/* Mobile */
@media only screen and (max-width: 739px) {
}

/* Phone Small */
@media only screen and (max-width: 395px) {
}
