section.about {
  padding-top: 36px;
  padding-bottom: 67px;
}

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 400;
}

.about-title {
  font-size: 32px;
  line-height: 38.4px;
  color: var(--steel-blue-color);
  font-weight: bold;
}

.about-desc {
  font-size: 18px;
  line-height: 30px;
  max-width: 880px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 55px;
  color: var(--deep-blue-color);
}

.about-detail {
  background: url(../../images/about/about-detail__background.png);
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-detail {
  padding: 7% 0%;
}

.about-card {
  background: transparent;
  border-radius: initial;
  border: none;
  height: 100%;
  padding-top: 33px;
  padding-bottom: 38px;
}

.about-img {
  position: relative;
  padding-top: 30%;
  width: 30%;
  margin: auto;
}

.about-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.about-advantage {
  background: #e7eff8e5;
  height: 100%;
  border-radius: 6px;
  position: relative;
}

.about-title:hover.about-detail {
  background: url(../../images/about/about-hover.png);
}
.about-detail .swiper-slide {
  height: auto;
}

.about-btn {
  background-color: var(--goldenrod-color);
  color: var(--white-text-color);
  font-size: 32px;
  line-height: 38.4px;
  padding: 15.82px 23.74px;
  border-radius: 12px;
}

.about-bottom :hover {
  background-color: var(--goldenrod-color);
  color: var(--white-text-color);
  opacity: 0.6;
}

.about-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 67px;
}

.about-detail .card-body {
  text-align: center;
  margin-top: 8px;
  padding: 16px 16px;
}

.about-detail .card-title {
  font-size: 24px;
  line-height: 28.4px;
  color: var(--deep-blue-color);
  margin-bottom: 27px;
  text-align: center;
}

.about-detail .card-text {
  font-size: 18px;
  line-height: 28px;
  color: var(--slate-gray-color);
  padding: 0 13px;
}

.about-pagination {
  display: none;
}

/* PC Alway  */
@media only screen and (max-width: 1920px) {
}

/* PC BIG  */
@media only screen and (min-width: 1650px) {
}

/* PC BIG Lower */
@media only screen and (max-width: 1650px) {
}

/* PC BIG 16 */
@media only screen and (max-width: 1600px) {
}

/* PC fit */
@media only screen and (max-width: 1440px) {
}

/* PC fit-sub */
@media only screen and (max-width: 1399px) {
}

/* PC fit lower */
@media only screen and (max-width: 1366px) {
}

/* PC fit lower */
@media only screen and (min-width: 1366px) {
}

/* PC fit small */
@media only screen and (max-width: 1300px) {
  section.about {
    padding-top: 32px;
    padding-bottom: 50px;
  }

  .about-title {
    font-size: 28px;
    line-height: 34px;
  }

  .about-desc {
    font-size: 16px;
    line-height: 26px;
    margin-top: 25px;
    margin-bottom: 45px;
  }

  .about-detail {
    padding: 10% 0%;
  }

  .about-card {
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .about-btn {
    font-size: 28px;
    line-height: 34px;
    padding: 13px 18.7px;
  }

  .about-bottom {
    padding-top: 50px;
  }

  .about-detail .card-body {
    margin-top: 6px;
    padding: 14px 14px;
  }

  .about-detail .card-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  .about-detail .card-text {
    font-size: 16px;
    line-height: 24px;
  }
}

/* PC HD */
@media only screen and (max-width: 1283px) {
}

/* PC Change */
@media only screen and (min-width: 1023px) and (max-width: 1241px) {
}

/* PC LOWER  min-1023px */
@media only screen and (min-width: 1023px) and (max-width: 1240px) {
}

/* Only PC devices */
@media only screen and (min-width: 1023px) {
}

/* Mobile & tablet */
@media only screen and (max-width: 1023px) {
  .about-detail .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
  }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  section.about {
    padding-top: 28px;
    padding-bottom: 40px;
  }

  .about-title {
    font-size: 26px;
    line-height: 32px;
  }

  .about-desc {
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .about-detail {
    padding: 8% 0%;
  }

  .about-card {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .about-btn {
    font-size: 24px;
    line-height: 29px;
    padding: 10px 16px;
  }

  .about-bottom {
    padding-top: 40px;
  }

  .about-detail .card-body {
    margin-top: 6px;
    padding: 12px 12px;
  }

  .about-detail .card-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  .about-detail .card-text {
    font-size: 14px;
    line-height: 22px;
  }
  .about-advantage {
    margin-left: 40px;
  }
}

/* Min Mobile */
@media only screen and (min-width: 740px) {
}

/* Mobile */
@media only screen and (max-width: 739px) {
  .about-card {
    padding-top: 17px;
    padding-bottom: 6px;
  }
  .about-bottom {
    padding-top: 26px;
  }
  section.about {
    padding-top: 24px;
    padding-bottom: 13px;
  }

  .about-advantage {
    margin-left: 15px;
  }
  .about-btn {
    font-size: 18px;
    line-height: 21.6px;
    text-align: left;
    padding: 8.3px 15px;
    border-radius: 8px;
  }
  .about-title {
    font-size: 22px;
    line-height: 26.4px;
  }
  .about-desc {
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 37px;
  }
  .about-detail .card-text {
    font-size: 11px;
    line-height: 16px;
  }
}

/* Phone Small */
@media only screen and (max-width: 395px) {
}
