.procedure {
  position: relative;
  padding-top: max(25px, min(7vw, 148px));
}
.procedure-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.procedure-title {
  font-size: max(22px, min(2vw, 32px));
  color: var(--steel-blue-color);
  line-height: max(26.4px, min(2vw, 38.4px));
  text-transform: uppercase;
  font-weight: bold;
}

.procedure-desc {
  font-size: max(14px, min(2vw, 18px));
  line-height: max(20px, min(2vw, 30px));
  margin-top: 30px; /* 1.875rem */
  margin-bottom: 55px; /* 3.438rem */
  color: var(--deep-blue-color);
}

.procedure-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0px; /* 4.375rem */
}

.procedure-btn {
  background-color: var(--goldenrod-color);
  color: var(--white-text-color);
  font-size: max(16px, min(2vw, 32px));
  line-height: max(19.2px, min(2vw, 38.4px));
  padding: 12px 72px;
  border-radius: 12px;
}

.procedure-btn:hover {
  background-color: var(--goldenrod-color);
  color: var(--white-text-color);
  opacity: 0.6;
}

.procedure-img {
  position: relative;
  height: 96px; /* 6rem */
  margin: auto;
}

.procedure-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.procedure-arrow {
  width: fit-content;
  margin-top: 10%;
}

.procedure-step {
  display: flex;
}
.procedure-mess {
  /* padding-top: 48%; */
  width: 39%;
}
.procedure-people {
  /* padding-top: 48%; */
  width: 55%;
}
.procedure-setting {
  /* padding-top: 48%; */
  width: 30%;
}
.procedure-shake {
  /* padding-top: 43%; */
  width: 51%;
}

.procedure-last {
  display: block;
}

.procedure-card {
  border: none;
  border-radius: initial;
}

.procedure-card .card-body {
  text-align: center;
}

.procedure-card .card-title {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* 0.625rem */
  margin-bottom: 30px; /* 1.875rem */
}
.circleg {
  width: max(20px, min(2vw, 36px));
  height: max(20px, min(2vw, 36px));
  border-radius: 50%;
  background-color: var(--goldenrod-color);
  color: var(--white-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: max(12px, min(2vw, 24px));
  font-weight: 400;
  line-height: max(14.4px, min(2vw, 28.8px));
  text-align: left;
}

.procedure-card .card-text {
  font-size: max(10px, min(2vw, 18px));
  line-height: max(14px, min(2vw, 30px));
  color: var(--slate-gray-color);
}

.procedure-prev::after {
  font-size: 20px;
  color: var(--deep-blue-color);
}

.procedure-next::after {
  font-size: 20px;
  color: var(--deep-blue-color);
}

.procedure-prev {
  left: -8px;
}
.procedure-next {
  right: -8px;
}

.procedure-title br {
  display: none;
}
.procedure-arrow img {
  width: max(15px, min(2vw, 55px));
}
.procedure-card .card-body {
  text-align: center;
  padding: 0 0px;
}
.procedure-pagination {
  display: none;
}

.procedure-decoration {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 69%;
}

.procedure-decoration img {
  width: 100%;
}

/* PC Alway  */
@media only screen and (max-width: 1920px) {
}

/* PC BIG  */
@media only screen and (min-width: 1650px) {
}

/* PC BIG Lower */
@media only screen and (max-width: 1650px) {
}

/* PC BIG 16 */
@media only screen and (max-width: 1600px) {
}

/* PC fit */
@media only screen and (max-width: 1440px) {
}

/* PC fit-sub */
@media only screen and (max-width: 1399px) {
}

/* PC fit lower */
@media only screen and (max-width: 1366px) {
}

/* PC fit lower */
@media only screen and (min-width: 1366px) {
}

/* PC fit small */
@media only screen and (max-width: 1300px) {
}

/* PC HD */
@media only screen and (max-width: 1283px) {
}

/* PC Change */
@media only screen and (min-width: 1023px) and (max-width: 1241px) {
}

/* PC LOWER  min-1023px */
@media only screen and (min-width: 1023px) and (max-width: 1240px) {
}

/* Only PC devices */
@media only screen and (min-width: 1023px) {
}

/* Mobile & tablet */
@media only screen and (max-width: 1023px) {
  .procedure-desc {
    margin-top: 14px; /* 0.875rem */
    margin-bottom: 7px; /* 0.438rem */
  }
  .procedure-card .card-title {
    margin-top: 10px; /* 0.625rem */
    margin-bottom: 14px; /* 0.875rem */
  }
  .procedure-bottom {
    padding: 19px 0px; /* 1.188rem */
  }
  .procedure-arrow {
    display: none;
  }
  .procedure-btn {
    padding: 7px 21px;
    border-radius: 8px;
  }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .procedure-arrow {
    margin-top: 25% !important;
  }
}

/* Min Mobile */
@media only screen and (min-width: 740px) {
}

/* Mobile */
@media only screen and (max-width: 739px) {
  .procedure-title br {
    display: block;
  }
  .procedure-decoration {
    top: 55px;
  }
}

/* Phone Small */
@media only screen and (max-width: 395px) {
}
