.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 400;
}

.project-title {
  font-size: var(--section-title-font-size);
  color: var(--steel-blue-color);
  line-height: var(--section-title-line-height);
  font-weight: bold;
}

.project-desc {
  font-size: var(--section-desc-font-size);
  line-height: var(--section-desc-line-height);
  margin-top: 30px;
  margin-bottom: 55px;
  color: var(--deep-blue-color);
}

.project-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0px; /* 4.375rem * 16px = 70px */
}

.project-btn {
  background-color: var(--goldenrod-color);
  color: var(--white-text-color);
  font-size: max(16px, min(2vw, 32px));
  line-height: max(19.2px, min(2vw, 38.4px));
  padding: 18px 30px;
  border-radius: 12px;
}

.project-btn:hover {
  background-color: var(--goldenrod-color);
  color: var(--white-text-color);
  opacity: 0.6;
}

.project-img img {
  width: 100%;
}

.project-title br {
  display: none;
}

/* PC Always  */
@media only screen and (max-width: 1920px) {
}

/* PC BIG  */
@media only screen and (min-width: 1650px) {
}

/* PC BIG Lower */
@media only screen and (max-width: 1650px) {
}

/* PC BIG 16 */
@media only screen and (max-width: 1600px) {
}

/* PC fit */
@media only screen and (max-width: 1440px) {
}

/* PC fit-sub */
@media only screen and (max-width: 1399px) {
}

/* PC fit lower */
@media only screen and (max-width: 1366px) {
}

/* PC fit lower */
@media only screen and (min-width: 1366px) {
}

/* PC fit small */
@media only screen and (max-width: 1300px) {
}

/* PC HD */
@media only screen and (max-width: 1283px) {
}

/* PC Change */
@media only screen and (min-width: 1023px) and (max-width: 1241px) {
}

/* PC LOWER min-1023px */
@media only screen and (min-width: 1023px) and (max-width: 1240px) {
}

/* Only PC devices */
@media only screen and (min-width: 1023px) {
}

/* Mobile & tablet */
@media only screen and (max-width: 1023px) {
  .project .container {
    padding: 0;
    margin: 0;
    max-width: none;
  }
  .project-btn {
    padding: 7px 11px;
    border-radius: 8px;
  }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .project-bottom {
    padding: 38px 0px; /* 2.375rem * 16px = 38px */
  }
}

/* Min Mobile */
@media only screen and (min-width: 740px) {
}

/* Mobile */
@media only screen and (max-width: 739px) {
  .project-title br {
    display: block;
  }
  .project-bottom {
    padding: 26px 0px; /* 1.625rem * 16px = 26px */
  }
  .project-desc {
    margin-top: 30px; /* 1.875rem * 16px = 30px */
    margin-bottom: 39px; /* 2.438rem * 16px = 39px */
  }
}

/* Phone Small */
@media only screen and (max-width: 395px) {
}
