section.talk {
  background: url(../../images/talk/talk-background.png);
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

.talk-wrapper {
  padding-right: 23.5%;
  padding-top: 95px;
  padding-bottom: 15%;
}
.talk-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 400;
  margin-bottom: max(25px, min(2vw, 72px));
  color: var(--white-text-color);
}
.talk-title {
  font-size: max(22px, min(2vw, 32px));
  line-height: max(26.4px, min(2vw, 38.4px));
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-cerulean-color);
  text-transform: uppercase;
}

.talk-paragraph {
  color: var(--white-text-color);
  font-size: max(11px, min(2vw, 24px));
  font-weight: 400;
  line-height: max(18px, min(2vw, 36px));
  text-align: center;
  padding: 0 max(15%, min(2vw, 16%));
  padding-top: 2%;
}

.talk-next.swiper-button-next {
  color: white !important;
  opacity: 0.4;
}

.talk-next.swiper-button-next::after {
  font-size: max(20px, min(2vw, 44px));
}
.talk-prev.swiper-button-prev {
  color: white !important;
  opacity: 0.4;
}
.talk-prev.swiper-button-prev::after {
  font-size: max(20px, min(2vw, 44px));
}
.talk-pagination {
  display: none;
}

.talk-quotation {
  position: absolute;
  top: 0;
  left: 15%;
}

/* PC Alway  */
@media only screen and (max-width: 1920px) {
}

/* PC BIG  */
@media only screen and (min-width: 1650px) {
}

/* PC BIG Lower */
@media only screen and (max-width: 1650px) {
}

/* PC BIG 16 */
@media only screen and (max-width: 1600px) {
}

/* PC fit */
@media only screen and (max-width: 1440px) {
}

/* PC fit-sub */
@media only screen and (max-width: 1399px) {
}

/* PC fit lower */
@media only screen and (max-width: 1366px) {
}

/* PC fit lower */
@media only screen and (min-width: 1366px) {
}

/* PC fit small */
@media only screen and (max-width: 1300px) {
}

/* PC HD */
@media only screen and (max-width: 1283px) {
}

/* PC Change */
@media only screen and (min-width: 1023px) and (max-width: 1241px) {
}

/* PC LOWER  min-1023px */
@media only screen and (min-width: 1023px) and (max-width: 1240px) {
}

/* Only PC devices */
@media only screen and (min-width: 1023px) {
}

/* Mobile & tablet */
@media only screen and (max-width: 1023px) {
  .talk-wrapper {
    padding-right: 0;
  }
  .talk-quotation {
    display: none;
  }
  .talk {
    background-position: right !important;
  }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}

/* Min Mobile */
@media only screen and (min-width: 740px) {
}

/* Mobile */
@media only screen and (max-width: 739px) {
  .talk-wrapper {
    padding-bottom: 30%;
  }
}

/* Phone Small */
@media only screen and (max-width: 395px) {
}
