.new {
  position: relative;
  padding-top: max(22px, min(11vw, 175px));
  padding-bottom: 55px;
}
.new-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 400;
}
.new-title {
  font-size: max(22px, min(2vw, 32px));
  line-height: max(26.4px, min(2vw, 38.4px));
  color: var(--deep-blue-color);
  font-weight: bold;
}

.new-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
  color: var(--deep-blue-color);
  display: none;
}

.new-meta__date {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
}
.new-meta__comment {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
}
.new-meta__comment svg,
.new-meta__date svg {
  width: max(14px, min(2vw, 24px));
  height: max(14px, min(2vw, 24px));
}

.new-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: max(10px, min(2vw, 20px));
  flex-wrap: wrap;
  color: var(--deep-blue-color);
  font-size: max(10px, min(2vw, 16px));
  font-weight: 400;
  line-height: max(12px, min(2vw, 19.2px));
  text-align: left;
}

.new-card .card-text {
  color: var(--deep-blue-color);
  font-size: max(12px, min(2vw, 22px));
  line-height: max(18px, min(2vw, 32px));
  text-align: left;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3; /* Số dòng tối đa */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new-content {
  margin-top: max(40px, min(2vw, 45px));
}

.new-card.card {
  border: none;
  position: relative;
  cursor: pointer;
}

.new-card .card-img {
  position: relative;
  padding-top: 70%;
  width: 100%;
  margin: auto;
}

.new-card .card-img-top {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.new-card .card-body {
  padding: 16px 0;
}

.new-next {
  right: 20px;
  top: 50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
  transform: translateY(-50%);
}

.new-prev {
  left: 20px;
  top: 50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
  transform: translateY(-50%);
}

.new-next::after {
  font-size: 19px;
  color: var(--deep-blue-color);
}

.new-prev::after {
  font-size: 19px;
  color: var(--deep-blue-color);
}

.new-next.swiper-button-disabled,
.new-prev.swiper-button-disabled {
  display: none;
}

.new-decoration {
  position: absolute;
  top: 5%;
  left: 0;
  width: 42%;
}
.new-decoration img {
  width: 100%;
}
/* PC Alway  */
@media only screen and (max-width: 1920px) {
}

/* PC BIG  */
@media only screen and (min-width: 1650px) {
}

/* PC BIG Lower */
@media only screen and (max-width: 1650px) {
}

/* PC BIG 16 */
@media only screen and (max-width: 1600px) {
}

/* PC fit */
@media only screen and (max-width: 1440px) {
}

/* PC fit-sub */
@media only screen and (max-width: 1399px) {
}

/* PC fit lower */
@media only screen and (max-width: 1366px) {
}

/* PC fit lower */
@media only screen and (min-width: 1366px) {
}

/* PC fit small */
@media only screen and (max-width: 1300px) {
}

/* PC HD */
@media only screen and (max-width: 1283px) {
}

/* PC Change */
@media only screen and (min-width: 1023px) and (max-width: 1241px) {
}

/* PC LOWER  min-1023px */
@media only screen and (min-width: 1023px) and (max-width: 1240px) {
}

/* Only PC devices */
@media only screen and (min-width: 1023px) {
}

/* Mobile & tablet */
@media only screen and (max-width: 1023px) {
  .new-desc {
    display: block;
  }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}

/* Min Mobile */
@media only screen and (min-width: 740px) {
}

/* Mobile */
@media only screen and (max-width: 739px) {
  .new {
    padding-top: 60px;
    padding-bottom: 15px;
  }
  .new-decoration {
    width: 92%;
  }
  .new-next {
    right: 6px;
    top: 40%;
  }
  .new-prev {
    left: 6px;
    top: 40%;
  }
}

/* Phone Small */
@media only screen and (max-width: 395px) {
}
