.solution {
  position: relative;
  padding-top: 113px;
}
.solution-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 400;
}

.solution-title {
  font-size: 32px;
  line-height: 38.4px;
  color: var(--steel-blue-color);
  font-weight: bold;
}

.solution-title br {
  display: none;
}

.solution-desc {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 55px;
  margin-top: 60px;
  color: var(--deep-blue-color);
  max-width: 750px;
}

.solution-card .card-header {
  height: 108px; /* 4.375rem * 16px */
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  color: var(--white-text-color);
  background-color: var(--deep-blue-color);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution-card .card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
  height: 137px;
}

.solution-card .card-text {
  color: var(--slate-gray-color);
  padding: 0px 19px;
  font-size: 18px;
  line-height: 30px;
}

.solution-card .card-body {
  background: #154a8126;
}
.solution-card__btn {
  color: var(--deep-blue-color);
  background: #f8fbff;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  border-radius: 12px;
  max-width: 192px;
  max-height: 55px;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.solution-card__btn:hover {
  background-color: var(--deep-blue-color);
  color: var(--white-text-color);
  opacity: 0.6;
}

.solution-card .card-title {
  flex-direction: column;
  color: var(--deep-blue-color);
}

.solution-card .card-title__text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.solution-card .card-title__price {
  font-size: 32px;
  font-weight: 500;
  line-height: 38.4px;
  text-align: center;
}
.card-footer__btn {
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--goldenrod-color);
  font-size: 28px;
  line-height: 33.6px;
  border-radius: 12px;
  border: none;
  color: var(--white-text-color);
  padding: 15px 45.71px;
  width: max-content;
}

.card-footer__btn:hover {
  background-color: var(--goldenrod-color);
  color: var(--white-text-color);
  opacity: 0.6;
}

.solution-service {
  height: 100%;
}

.solution-card.card {
  height: 100%;
  border-radius: 12px;
}

.solution-detail {
  width: 100%;
  display: grid;
  gap: 48px; /* 3rem * 16px */
  grid-template-columns: repeat(3, 1fr);
}

.solution-card .card-footer {
  padding-bottom: 41%;
  background: #154a8126;
  border: none;
  position: relative;
}

.solution__decoration-top {
  position: absolute;
  top: 5%;
  left: 0;
  width: 50%;
}
.solution__decoration-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.solution__decoration-top img {
  width: 100%;
}

.solution__decoration-bottom img {
  width: 100%;
}

/* PC Alway  */
@media only screen and (max-width: 1920px) {
}

/* PC BIG  */
@media only screen and (min-width: 1650px) {
}

/* PC BIG Lower */
@media only screen and (max-width: 1650px) {
}

/* PC BIG 16 */
@media only screen and (max-width: 1600px) {
}

/* PC fit */
@media only screen and (max-width: 1440px) {
}

/* PC fit-sub */
@media only screen and (max-width: 1399px) {
}

/* PC fit lower */
@media only screen and (max-width: 1366px) {
}

/* PC fit lower */
@media only screen and (min-width: 1366px) {
}

/* PC fit small */
@media only screen and (max-width: 1300px) {
  .solution {
    padding-top: 80px;
  }

  .solution-title {
    font-size: 28px;
    line-height: 34px;
  }

  .solution-desc {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 45px;
    margin-top: 50px;
  }

  .solution-card .card-header {
    height: 90px;
    font-size: 20px;
    line-height: 30px;
  }

  .solution-card .card-title {
    padding-bottom: 14px;
    height: 120px;
  }

  .solution-card .card-text {
    padding: 0px 15px;
    font-size: 16px;
    line-height: 26px;
  }

  .solution-card__btn {
    font-size: 20px;
    line-height: 24px;
    width: 160px;
    height: 48px;
  }

  .solution-card .card-title__text {
    font-size: 18px;
    line-height: 22px;
  }

  .solution-card .card-title__price {
    font-size: 28px;
    line-height: 34px;
  }

  .card-footer__btn {
    font-size: 24px;
    line-height: 29px;
    padding: 12px 38px;
  }

  .solution-detail {
    gap: 20px;
  }
}

/* PC HD */
@media only screen and (max-width: 1283px) {
}

/* PC Change */
@media only screen and (min-width: 1023px) and (max-width: 1241px) {
}

/* PC LOWER  min-1023px */
@media only screen and (min-width: 1023px) and (max-width: 1240px) {
}

/* Only PC devices */
@media only screen and (min-width: 1023px) {
  .header-toggler {
    display: none;
  }
}

/* Mobile & tablet */
@media only screen and (max-width: 1023px) {
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .solution {
    padding-top: 60px;
  }

  .solution-title {
    font-size: 24px;
    line-height: 30px;
  }

  .solution-desc {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 35px;
    margin-top: 40px;
  }

  .solution-card .card-header {
    height: 115px;
    font-size: 18px;
    line-height: 28px;
  }

  .solution-card .card-title {
    padding-bottom: 12px;
    height: 100px;
  }

  .solution-card .card-text {
    padding: 0px 12px;
    font-size: 14px;
    line-height: 24px;
  }

  .solution-card__btn {
    font-size: 18px;
    line-height: 22px;
    width: 140px;
    height: 42px;
  }

  .solution-card .card-title__text {
    font-size: 16px;
    line-height: 20px;
  }

  .solution-card .card-title__price {
    font-size: 24px;
    line-height: 30px;
  }

  .solution-card .card-footer {
    padding-bottom: 20%;
  }
  .card-footer__btn {
    font-size: 20px;
    line-height: 24px;
    padding: 8px 30px;
  }

  .solution-detail {
    gap: 18px;
  }
}

/* Min Mobile */
@media only screen and (min-width: 740px) {
}

/* Mobile */
@media only screen and (max-width: 739px) {
  .card-footer__btn {
    width: 112px;
    height: 33.9px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 19.2px;
  }
  .solution-title br {
    display: block;
  }
  .solution-card .card-body {
    padding: 0px;
  }
  .solution-card .card-title {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 80px;
  }
  .solution {
    padding-top: 60px;
    padding-bottom: 35px;
  }

  .solution-card .card-header {
    padding: 0 50px;
    height: 72px;
  }
  .solution-card__btn {
    border-radius: 6px;
    padding: 0px 0px;
  }
  .solution-detail {
    padding: 0 10%;
  }

  .solution-card__btn {
    width: 120px;
    height: 25.92px;
    border-radius: 6px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .solution__decoration-top {
    top: 3%;
    width: 81%;
  }
  .solution-detail {
    display: flex;
    flex-direction: column;
  }
  .solution-card .card-text {
    font-size: 11px;
    line-height: 18px;
  }
  .solution-card .card-footer {
    padding-bottom: 10%;
  }
  .solution-detail {
    gap: 40px;
  }
  .card-footer__btn {
    font-size: 16px;
    line-height: 21.6px;
    text-align: left;
    padding: 9.3px 37px;
    border-radius: 8px;
    width: max-content !important;
    height: max-content !important;
  }
  .solution-title {
    font-size: 22px;
    line-height: 26.4px;
  }
  .solutions-desc {
    font-size: 14px;
    line-height: 20px;
  }
  .solution-card__btn {
    font-size: 14px;
    line-height: 16.8px;
  }
  .solution-card .card-title__price {
    font-size: 16px;
    line-height: 19.2px;
  }
  .solution-card__btn {
    font-size: 14px;
    line-height: 16.8px;
  }
  .solution-card .card-header {
    font-size: 14px;
    line-height: 20px;
  }
  .solution-desc {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
    margin-top: 27px;
    font-size: 14px;
    line-height: 20px;
  }
}

/* Phone Small */
@media only screen and (max-width: 395px) {
}
