.new {
  position: relative;
  padding-top: 160px;
  padding-bottom: 64px;
}
.new-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 400;
}
.new-title {
  font-size: 32px;
  line-height: 38.4px;
  color: var(--deep-blue-color);
  font-weight: bold;
}

.new-desc {
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
  color: var(--slate-gray-color);
  display: none;
}

.new-meta__date {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
}
.new-meta__comment {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
}
.new-meta__comment svg,
.new-meta__date svg {
  width: 24px;
  height: 24px;
}

.new-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  color: var(--deep-blue-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.new-card .card-text {
  color: var(--deep-blue-color);
  font-size: 22px;
  line-height: 32px;
  text-align: left;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new-content {
  margin-top: 45px;
}

.new-card.card {
  border: none;
  position: relative;
  cursor: pointer;
}

.new-card .card-img {
  position: relative;
  padding-top: 70%;
  width: 100%;
  margin: auto;
}

.new-card .card-img-top {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.new-card .card-body {
  padding: 16px 0;
}

.new-next {
  right: 11px;
  top: 39%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
  transform: translateY(-50%);
}

.new-prev {
  left: 11px;
  top: 39%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
  transform: translateY(-50%);
}

.new-next::after {
  font-size: 19px;
  color: var(--deep-blue-color);
}

.new-prev::after {
  font-size: 19px;
  color: var(--deep-blue-color);
}

.new-next.swiper-button-disabled,
.new-prev.swiper-button-disabled {
  display: none;
}

.new-decoration {
  position: absolute;
  top: 5%;
  left: 0;
  width: 42%;
}
.new-decoration img {
  width: 100%;
}
/* PC Alway  */
@media only screen and (max-width: 1920px) {
}

/* PC BIG  */
@media only screen and (min-width: 1650px) {
}

/* PC BIG Lower */
@media only screen and (max-width: 1650px) {
}

/* PC BIG 16 */
@media only screen and (max-width: 1600px) {
}

/* PC fit */
@media only screen and (max-width: 1440px) {
}

/* PC fit-sub */
@media only screen and (max-width: 1399px) {
}

/* PC fit lower */
@media only screen and (max-width: 1366px) {
}

/* PC fit lower */
@media only screen and (min-width: 1366px) {
}

/* PC fit small */
@media only screen and (max-width: 1300px) {
  .new {
    padding-top: 120px;
    padding-bottom: 48px;
  }

  .new-title {
    font-size: 28px;
    line-height: 34px;
  }

  .new-desc {
    font-size: 12px;
    line-height: 18px;
    margin-top: 16px;
  }

  .new-meta__date {
    gap: 8px;
  }

  .new-meta__comment {
    gap: 8px;
  }

  .new-meta__comment svg,
  .new-meta__date svg {
    width: 20px;
    height: 20px;
  }

  .new-meta {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 17px;
  }

  .new-card .card-text {
    font-size: 18px;
    line-height: 28px;
  }

  .new-content {
    margin-top: 36px;
  }

  .new-card .card-body {
    padding: 12px 0;
  }
}

/* PC HD */
@media only screen and (max-width: 1283px) {
}

/* PC Change */
@media only screen and (min-width: 1023px) and (max-width: 1241px) {
}

/* PC LOWER  min-1023px */
@media only screen and (min-width: 1023px) and (max-width: 1240px) {
}

/* Only PC devices */
@media only screen and (min-width: 1023px) {
}

/* Mobile & tablet */
@media only screen and (max-width: 1023px) {
  .new-desc {
    display: block;
  }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .new {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .new-title {
    font-size: 24px;
    line-height: 30px;
  }

  .new-desc {
    font-size: 14px;
    line-height: 20px;
    margin-top: 14px;
  }

  .new-meta__date {
    gap: 6px;
  }

  .new-meta__comment {
    gap: 6px;
  }

  .new-meta__comment svg,
  .new-meta__date svg {
    width: 18px;
    height: 18px;
  }

  .new-meta {
    margin-bottom: 14px;
    font-size: 13px;
    line-height: 15px;
  }

  .new-card .card-text {
    font-size: 16px;
    line-height: 24px;
  }

  .new-content {
    margin-top: 30px;
  }

  .new-card .card-body {
    padding: 10px 0;
  }
}

/* Min Mobile */
@media only screen and (min-width: 740px) {
}

/* Mobile */
@media only screen and (max-width: 739px) {
  .new {
    padding-top: 60px;
    padding-bottom: 11px;
  }
  .new-decoration {
    width: 92%;
  }
  .new-next {
    right: 6px;
    top: 40%;
  }
  .new-prev {
    left: 6px;
    top: 40%;
  }
  .new-title {
    font-size: 22px;
    line-height: 28px;
  }

  .new-desc {
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
  }
  .new-meta__comment svg,
  .new-meta__date svg {
    width: 14px;
    height: 14px;
  }

  .new-meta {
    margin-bottom: 7px;
    font-size: 10px;
    line-height: 12px;
    flex-direction: column;
    gap: 5px;
  }

  .new-card .card-text {
    font-size: 12px;
    line-height: 18px;
  }

  .new-content {
    margin-top: 30px;
  }

  .new-card .card-body {
    padding: 6px 0;
  }
  .new-meta__comment {
    gap: 5px;
  }
  .new-meta__date {
    gap: 5px;
  }
}

/* Phone Small */
@media only screen and (max-width: 395px) {
}
