.intro {
  position: relative;
  background: url(../../images/intro/banner-water.png);
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160px; /* 10rem = 160px */
  padding-bottom: 160px; /* 10rem = 160px */
}

.intro-wrapper {
  height: 100%;
}

.intro-sub {
  font-size: max(16px, min(2vw, 24px));
  line-height: 28.8px;
  text-align: center;
}

.intro-title {
  font-size: max(40px, min(5vw, 96px));
  line-height: max(48px, min(5vw, 115.2px));
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 600;
}

.intro-desc {
  font-size: 24px;
  line-height: 28.8px;
  text-align: center;
}

.intro-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}

.intro-header {
  margin-bottom: 65px; /* 4.063rem = 65px */
}

.intro .container {
  height: 100%;
}

.intro-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white-text-color);
  position: relative;
}

.intro-btn {
  background-color: var(--goldenrod-color);
  color: var(--white-text-color);
  font-size: max(18px, min(3vw, 32px));
  line-height: max(21.6px, min(3vw, 38.4px));
  padding: 18px 40px;
  border-radius: 12px;
}

.intro-btn:hover {
  background-color: var(--goldenrod-color);
  color: var(--white-text-color);
  opacity: 0.9;
}

.intro-swiper {
  height: 100%;
}

.intro-pagination {
  bottom: 30px !important;
}

.intro-pagination span.swiper-pagination-bullet {
  background: url(../../images/intro/intro-page-bullet.png);
  background-position: center;
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  width: max(14.31px, min(3vw, 24px));
  height: max(14.31px, min(3vw, 24px));
}

.intro-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: url(../../images/intro/intro-page-bullet-actived.png);
  background-position: center;
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  width: max(14.31px, min(3vw, 24px));
  height: max(14.31px, min(3vw, 24px));
}

.widgets {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  grid-row-gap: 5px;
  z-index: 2;
}

.widgets-item {
  width: fit-content;
  height: max(34px, min(4.5vw, 72px));
  display: flex;
  align-items: center;
  background-color: var(--goldenrod-color);
  border-radius: 12px 0px 12px 0px;
}

.widgets-item__svg {
  position: relative;
  height: max(34px, min(4.5vw, 72px));
  width: max(34px, min(4.5vw, 72px));
  margin: auto;
}

.widgets-item__svg svg {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 27%;
  left: 27%;
  object-fit: cover;
}

.intro-note__text,
.intro-mail__text,
.intro-location__text {
  color: var(--white-text-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  display: none;
  padding-right: 45px;
  width: fit-content;
}

.intro-mail,
.intro-location,
.intro-note {
  position: relative;
}

.intro-location:hover .intro-location__text {
  display: block;
}

.intro-mail:hover .intro-mail__text {
  display: block;
}

.intro-note:hover .intro-note__text {
  display: block;
}

/* PC Alway  */
@media only screen and (max-width: 1920px) {
}

/* PC BIG  */
@media only screen and (min-width: 1650px) {
}

/* PC BIG Lower */
@media only screen and (max-width: 1650px) {
}

/* PC BIG 16 */
@media only screen and (max-width: 1600px) {
}

/* PC fit */
@media only screen and (max-width: 1440px) {
}

/* PC fit-sub */
@media only screen and (max-width: 1399px) {
}

/* PC fit lower */
@media only screen and (max-width: 1366px) {
}

/* PC fit lower */
@media only screen and (min-width: 1366px) {
}

/* PC fit small */
@media only screen and (max-width: 1300px) {
}

/* PC HD */
@media only screen and (max-width: 1283px) {
}

/* PC Change */
@media only screen and (min-width: 1023px) and (max-width: 1241px) {
}

/* PC LOWER  min-1023px */
@media only screen and (min-width: 1023px) and (max-width: 1240px) {
}

/* Only PC devices */
@media only screen and (min-width: 1023px) {
}

/* Mobile & tablet */
@media only screen and (max-width: 1023px) {
  .intro-desc {
    display: none;
  }
  .intro-header {
    margin-bottom: 17px; /* 1.063rem = 17px */
  }
  .intro-btn {
    padding: 9px 15px;
    border-radius: 8px;
  }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}

/* Min Mobile */
@media only screen and (min-width: 740px) {
}

/* Mobile */
@media only screen and (max-width: 739px) {
  .intro {
    padding-top: 105px;
    padding-bottom: 80px;
  }
  .header-brand__img {
    padding-top: 7%; /* No change needed for percentage-based values */
    width: 20%; /* No change needed for percentage-based values */
  }
}

/* Phone Small */
@media only screen and (max-width: 395px) {
}
