.solution {
  position: relative;
  overflow: hidden;
  padding-top: max(22px, min(5vw, 70px)); /* 6.563rem * 16px */
  padding-bottom: 145px; /* 9.063rem * 16px */
}
.solution-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 400;
}

.solution-title {
  font-size: max(22px, min(2vw, 32px));
  line-height: max(26.4px, min(2vw, 38.4px));
  color: var(--steel-blue-color);
  font-weight: bold;
}

.solution-title br {
  display: none;
}

.solution-desc {
  font-size: max(14px, min(2vw, 18px));
  line-height: max(20px, min(2vw, 30px));
  margin-bottom: 55px;
  margin-top: 60px;
  color: var(--deep-blue-color);
}

.solution-card .card-header {
  height: max(70px, min(6vw, 108px)); /* 4.375rem * 16px */
  font-size: max(13px, min(1vw, 24px));
  font-weight: bold;
  line-height: max(20px, min(2vw, 36px));
  text-align: center;
  color: var(--white-text-color);
  background-color: var(--deep-blue-color);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution-card .card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 35px;
  height: max(85px, min(6vw, 148px)); /* 5.313rem * 16px */
}

.solution-card .card-text {
  color: var(--slate-gray-color);
  padding: 0px 16px;
  font-size: max(11px, min(2vw, 20px));
  font-weight: 400;
  line-height: max(18px, min(2vw, 24px));
}

.solution-card .card-body {
  background: #154a8126;
}
.solution-card__btn {
  color: var(--deep-blue-color);
  background: #f8fbff;
  font-size: max(14px, min(2vw, 24px));
  font-weight: 400;
  line-height: max(16.8px, min(2vw, 28.8px));
  text-align: center;
  border-radius: 12px;
  padding: 11px 22px;
}

.solution-card .card-title {
  flex-direction: column;
  color: var(--deep-blue-color);
}

.solution-card .card-title__text {
  font-size: max(14px, min(2vw, 20px));
  font-weight: 400;
  line-height: max(16.8px, min(2vw, 24px));
  text-align: center;
}
.solution-card .card-title__price {
  font-size: max(16px, min(2vw, 32px));
  font-weight: 400;
  line-height: max(19.2px, min(2vw, 38.4px));
  text-align: center;
}
.card-footer__btn {
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--goldenrod-color);
  font-size: max(16px, min(2vw, 28px));
  line-height: max(19.2px, min(2vw, 33.6px));
  border-radius: max(8px, min(1vw, 12px));
  border: none;
  color: var(--white-text-color);
  width: max(112px, min(12vw, 230px));
  height: max(33px, min(5vw, 72px));
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.solution-service {
  height: 100%;
}

.solution-card.card {
  height: 100%;
  border-radius: 12px;
}

.solution-detail {
  width: 100%;
  display: grid;
  gap: 48px; /* 3rem * 16px */
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.solution-card .card-footer {
  padding-bottom: max(30px, min(4rem, 106px));
  background: #154a8126;
  border: none;
}

.solution__decoration-top {
  position: absolute;
  top: 5%;
  left: 0;
  width: 50%;
}
.solution__decoration-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.solution__decoration-top img {
  width: 100%;
}

.solution__decoration-bottom img {
  width: 100%;
}

/* PC Alway  */
@media only screen and (max-width: 1920px) {
}

/* PC BIG  */
@media only screen and (min-width: 1650px) {
}

/* PC BIG Lower */
@media only screen and (max-width: 1650px) {
}

/* PC BIG 16 */
@media only screen and (max-width: 1600px) {
}

/* PC fit */
@media only screen and (max-width: 1440px) {
}

/* PC fit-sub */
@media only screen and (max-width: 1399px) {
}

/* PC fit lower */
@media only screen and (max-width: 1366px) {
}

/* PC fit lower */
@media only screen and (min-width: 1366px) {
}

/* PC fit small */
@media only screen and (max-width: 1300px) {
}

/* PC HD */
@media only screen and (max-width: 1283px) {
}

/* PC Change */
@media only screen and (min-width: 1023px) and (max-width: 1241px) {
}

/* PC LOWER  min-1023px */
@media only screen and (min-width: 1023px) and (max-width: 1240px) {
}

/* Only PC devices */
@media only screen and (min-width: 1023px) {
}

/* Mobile & tablet */
@media only screen and (max-width: 1023px) {
  .solution__decoration-bottom {
    display: none;
  }
  .card-footer__btn {
    bottom: -15px;
  }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .solution-detail {
    gap: 20px;
  }

  .solution-card .card-text {
    padding: 0px 0px;
  }
}

/* Min Mobile */
@media only screen and (min-width: 740px) {
}

/* Mobile */
@media only screen and (max-width: 739px) {
  .solution-title br {
    display: block;
  }
  .solution-card .card-body {
    padding: 0px;
  }
  .solution-card .card-title {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .solution {
    padding-top: 41px;
    padding-bottom: 33px;
  }

  .solution-card .card-header {
    padding: 0 0px;
  }
  .solution-card__btn {
    border-radius: 6px;
    padding: 0px 0px;
  }
  .solution-detail {
    padding: 0 10%;
  }

  .solution-card__btn {
    width: 120px;
    height: 25.92px;
    border-radius: 6px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .solution__decoration-top {
    top: 2%;
    width: 81%;
  }
}

/* Phone Small */
@media only screen and (max-width: 395px) {
}
