html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: DVN-Poppins, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button:focus {
  box-shadow: none !important;
}

button:hover {
  opacity: 0.9;
}

a:hover,
a.nav-link:hover {
  color: currentColor;
  opacity: 0.9;
}
