.header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

/* Header-top */
.header-top {
  height: 42px;
  background-color: var(--goldenrod-color);
  width: 100%;
  position: relative;
  color: var(--white-text-color);
}

.header-top .container {
  height: 100%;
  padding: 0px;
}

.header-top__wrapper {
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: space-between;

  .header-left {
    gap: 25px;
    display: flex;
    flex-direction: row;
  }

  .header-right {
    display: flex;
    flex-direction: row;
  }

  .header-left .header-email {
    padding: 0px;
  }
  .header-left .header-phone {
    padding-right: 0px;
  }

  .header-left .nav-item {
    display: flex;
    width: fit-content;
    align-items: center;
  }

  .header-left .nav-link {
    display: flex;
    font-size: 14px;
    line-height: 16.8px;
    text-align: left;
    align-items: center;
    height: 100%;
  }
  .header-left .nav-link__svg {
    display: flex;
    align-items: center;
  }

  .header-right .nav-link {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
  }

  .header-right .nav-item {
    width: fit-content;
  }

  .header-right__menu {
    display: flex;
    gap: 22px;
  }
}
/* Header-bottom */
.header-bottom {
  width: 100%;
  position: absolute;
  font-size: max(13.4px, min(1vw, 18px));
  line-height: 21.6px;
  z-index: 5;
  color: var(--white-text-color);
  background-color: transparent;
  /* background: var(--deep-blue-color); */
  padding: 0.5% 0px;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}
.active {
  background: var(--deep-blue-color);
}

.header-wraper {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  gap: 30px;
}

.header-brand__img {
  position: relative;
  padding-top: 5%;
  width: 15%;
}

.header-brand__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.header-bottom .container {
  height: 100%;
  padding: 0px;
}

.header-bottom .navbar {
  height: 100%;
  background: transparent;
  gap: 28px;
}

.header-bottom .nav-link,
.header-bottom .dropdown-toggle {
  color: var(--white-text-color);
  font-size: max(12px, min(1.23vw, 18px));
  line-height: 30px;
}

.header-collapse {
  justify-content: space-around;
  flex-grow: initial;
}

.header-navbar {
  display: flex;
  align-items: center;
}

.header-toggle {
  padding: 8px;
  text-decoration: none;
}

.header-toggle::after {
  width: 100%;
  height: 40px;
  position: absolute;
  left: 0;
  top: 38px;
  display: unset;
  margin-left: unset;
  vertical-align: unset;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.header-bottom .nav-item:hover,
.header-toggle:hover {
  color: var(--goldenrod-color);
  text-decoration: underline;
  text-decoration-color: var(--goldenrod-color);
  text-decoration-thickness: 3px;
  text-underline-offset: 15px;
}

.dropend .btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  color: var(--deep-blue-color);
  grid-column-gap: 30px;
  line-height: 21.6px;
}
.dropend .dropdown-toggle::after {
  display: none;
}

.dropend .dropdown-toggle {
  color: var(--deep-blue-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
  gap: 17px;
  line-height: 21.6px;
  font-size: 18px;
}

.nav__dropdown-menu {
  padding: 0px;
  border-radius: 0;
  font-size: 18px !important;
  font-weight: 400;
  line-height: 21.6px !important;
  text-align: left;
  left: 50% !important;
  transform: translateX(-50%);
  top: 70px !important;
}

.nav__dropdown-menu .dropdown-item {
  color: var(--deep-blue-color);
  padding: 10px 20px;
  border-top: 1px solid #d9d9d9;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  padding-right: 10px;
}
.nav__dropdown-menu .dropend:hover,
.nav__dropdown-menu .dropdown-item:hover {
  background: #b6c7df;
}

.dropend-menu {
  border-radius: 0;
  padding: 0px;
}
.header-btn {
  position: relative;
}

.header-btn svg:hover {
  color: var(--goldenrod-color);
}

.header-btn :hover {
  text-decoration: underline;
  text-decoration-color: var(--goldenrod-color);
  text-decoration-thickness: 3px;
  text-underline-offset: 15px;
}

.header-btn:hover .header-btn__underline {
  display: block;
}

.header-btn__underline {
  width: 100%;
  height: 3px;
  background: goldenrod;
  position: absolute;
  bottom: -6px;
  left: 5px;
  display: none;
}

.header-dropdown {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.dropdown:hover .nav__dropdown-menu {
  display: block;
}

.dropend:hover .dropend-menu {
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
}

.nav__dropdown-menu:focus {
  display: block;
}
/* Offcanvas Header-search */
.header-search {
  top: 42px !important;
  height: fit-content !important;
}
.header-search__top {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
  background: #ffffff;
}

.header-search__top .input-group {
  width: 35.9%;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.header-search__top input.form-control {
  color: var(--slate-gray-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  background-color: transparent;
  border: none;
  padding: 15px 28px;
}

.header-search__top .input-group {
  background-color: #d9d9d98c;
  border-radius: 30px;
  padding-right: 1%;
}
.header-search__top button#button-addon2 {
  border: none;
}

.header-search__content {
  background-color: white;
  width: 50%;
  height: 60px;
}

.header-search__content {
  background-color: white;
  width: 100%;
  padding: 30px 0;
  height: fit-content;
  margin: 0 auto;
  border-radius: 12px;
}
.header-search .offcanvas-body {
  overflow-y: initial;
  padding: 0;
  background: transparent !important;
}

.header-search__bottom {
  background-color: transparent !important;
  margin-top: 10px;
  position: absolute;
  width: 49.1%;
  left: 50%;
  transform: translateX(-50%);
}

.header-search__detail {
  display: flex;
  padding-left: 30px;
  grid-column-gap: 12px;
}
.header-search__filter {
  width: fit-content;
  border-radius: 30px;
  text-align: center;
  color: var(--slate-gray-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #d9d9d9;
  padding: 12px 30px;
}

.header-search__title {
  padding-left: 50px;
  margin-bottom: 30px;
  color: var(--deep-blue-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-weight: bold;
}

.offcanvas-backdrop.show {
  top: 42px !important;
  background: #1a365dcc;
  opacity: 1;
}

.header-toggler .btn-close {
  background-image: url(../../images/header/header-close.svg);
}

/* PC Alway  */
@media only screen and (max-width: 1920px) {
}

/* PC BIG  */
@media only screen and (min-width: 1650px) {
}

/* PC BIG Lower */
@media only screen and (max-width: 1650px) {
}

/* PC BIG 16 */
@media only screen and (max-width: 1600px) {
}

/* PC fit */
@media only screen and (max-width: 1440px) {
}

/* PC fit-sub */
@media only screen and (max-width: 1399px) {
}

/* PC fit lower */
@media only screen and (max-width: 1366px) {
}

/* PC fit lower */
@media only screen and (min-width: 1366px) {
}

/* PC fit small */
@media only screen and (max-width: 1300px) {
}

/* PC HD */
@media only screen and (max-width: 1283px) {
}

/* PC Change */
@media only screen and (min-width: 1023px) and (max-width: 1241px) {
}

/* PC LOWER  min-1023px */
@media only screen and (min-width: 1023px) and (max-width: 1240px) {
}

/* Only PC devices */
@media only screen and (min-width: 1023px) {
  .header-search__top button.btn-close {
    display: none;
  }
  .navbar-toggler {
    display: none;
  }
}

/* Mobile & tablet */
@media only screen and (max-width: 1023px) {
  .header-navbar {
    display: none;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb%28255, 255, 255%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  button.navbar-toggler {
    outline: none;
    box-shadow: none;
    border: none;
  }
  .header-brand {
    flex: 1;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .header-wraper {
    flex-grow: initial;
    order: -1;
  }
  .header-search__content {
    display: none;
  }

  .offcanvas-backdrop.show {
    display: none;
  }
  .header-search {
    top: 0px !important;
  }
  .header-search__top button#button-addon2 {
    border: none;
    display: none;
  }
  .header-search__top .input-group {
    background-color: #d9d9d98c;
    border-radius: 0;
    align-items: center;
    width: 100%;
  }
  .header-search__top {
    padding: 0px;
  }
  .header-search__top .input-group {
    padding: 1%;
  }
  .header-toggle {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
  }
  .header-toggler .offcanvas-header {
    background-color: var(--deep-blue-color);
    color: var(--white-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
  }
  .header-toggler .btn {
    width: 100%;
    text-align: left;
    padding: 16px 14px;
  }

  .header-toggler .list-group-item {
    border-radius: 0px;
  }
  .header-toggler .offcanvas-body {
    padding: 0px;
  }
  .header-toggler li.list-group-item {
    padding: 0px;
  }
  .header-toggler__button,
  .header-toggler__one .accordion-button {
    color: var(--deep-blue-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .btn-firt:focus {
    position: relative;
  }

  .header-toggler .list-third {
    list-style: circle;
    border-bottom: 0px;
  }

  .header-toggler .offcanvas-body {
    padding-left: 0px;
    padding-right: 0px;
  }

  .accordion-button:not(.collapsed) {
    background-color: white;
  }
  .header-toggler__button:focus,
  .header-toggler__one .accordion-button:not(.collapsed) {
    color: var(--goldenrod-color);
  }
  .header-toggler__one .list-group-item,
  .header-toggler__two .accordion-button {
    padding: 16px 35px;
    color: var(--slate-gray-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    text-transform: none;
  }

  .header-toggler__two .accordion-button:not(.collapsed) {
    color: var(--slate-gray-color);
  }
  .header-toggler__two .accordion-body {
    padding: 0px;
  }
  .header-toggler__two .list-group-item {
    padding: 16px 0px;
    color: #808080;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-left: 70px;
  }
  .header-toggler__two .list-group-item::before {
    content: "•"; /* Gạch đầu dòng */
    position: absolute;
    left: 55px;
    font-size: 1em;
    line-height: 1em;
    top: 50%;
    transform: translateY(-50%);
  }
  .header-toggler__one .accordion-body {
    padding: 0px;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: var(--white-text-color);
    content: var(--bs-breadcrumb-divider, "|");
  }
  ol.breadcrumb {
    margin-bottom: 0px;
  }
  .header-toggler__language {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: var(--white-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    display: flex;
    align-items: center;
  }
  .header-toggler__language:focus {
    color: var(--goldenrod-color);
    border: none;
    outline: none;
    box-shadow: none;
  }
  div#offcanvastoggler {
    width: 100%;
  }
  .header-top {
    display: none;
  }
  .header-search__top .form-control::after {
    position: absolute;
    content: "Tìm Kiếm...";
    left: 0;
    top: 0;
  }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}

/* Min Mobile */
@media only screen and (min-width: 740px) {
}

/* Mobile */
@media only screen and (max-width: 739px) {
}

/* Phone Small */
@media only screen and (max-width: 395px) {
}
